html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;

}
#header{
	padding: 15px;
	background-color: #A8AEAF;
	position : fixed;
	width: 100%;
	top: 0px;
}
#img{
	width: 250px;
	height: 60px;
}

#content{
  min-height: 100%;
  padding-top: 150px;
  background-image: url(fon.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#center{
  
  font-family: Arial;
  font-size: 15px;
  padding: 20px;
  min-width: 400px;
  text-align: center;
  
}
  

a.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #79bd48;
  box-shadow: 0 -3px #529748 inset;
  transition: 0.2s;
} 
a.button7:hover { background: #0260a0; box-shadow: 0 -3px #021ca0 inset; }
a.button7:active {
  background: #0260a0;
  box-shadow: 0 0 1px 4px #021ca0 inset;
}

#futer{
 position : fixed;
 height : 50px;
 bottom : 0;
 padding: 15px;
 background-color: #A8AEAF;
 width: 100%;
 text-align: center;
}

